@using System.Web.Mvc.Html
@using YouMap.Controllers
@using YouMap.Models
@model AddPlaceModel

<script>	
$(document).ready(function() {
	YouMap.AddPlace.Initialize();
});
</script>
<div>

@using(Html.BeginForm())
{

<div class="field-set-500">
<ul class="form-wrapper">

	
	<li class="row">
		@Html.LabelFor(x=> x.Address,"Адрес")
		<span class="fieldbox">@Html.TextBoxFor(x=> x.Address)
		<a id='search' href="#">&emsp;</a>
		</span>
	</li>
	<li class="row">
		@Html.LabelFor(x=> x.Title,"Название")
		<span class="fieldbox">@Html.TextBoxFor(x=> x.Title)
		</span>
	</li>
	@Html.HiddenFor(x=> x.Latitude)
	@Html.HiddenFor(x=> x.Longitude)
	<li>
		<input type="submit" id="submitPlace" value="Добавить" />
	</li>
	</ul>
</div>

<div class="field-set-500">

<ul class="form-wrapper">


	<li class="row">
		@Html.LabelFor(x=> x.Icon,"Иконка")<img id="currentIcon"/>
		<span class="fieldbox">	@Html.TextBoxFor(x=> x.Icon)</span>
		<a id='selectIconBtn' href="@Url.Action("PlaceIcons")">Выбрать</a>
	</li>

	<li class="row">
		@Html.LabelFor(x=> x.Description,"Описание")
		<span class="msgbox">@Html.TextAreaFor(x=> x.Description)
		</span>
	</li>

	</ul>
</div>
}
</div>