@using YouMap.Framework.Extensions
@model YouMap.Models.CheckInModel

<script>
    $(document).ready(function () {
        YouMap.Vk.Panel.CheckInInit(@Model.DisplayPlace.ToJS());
    });
</script> 

<div id="checkin" class="checkin">
    @using(Html.BeginForm("CheckIn","Map"))
    {
        @Html.HiddenFor(x => x.PlaceId)     
        <div id="placeHolder">
               
            @if (Model.Limited)
            {
                <h5 >У вас осталось @Model.LeftCount отметки здесь.</h5>
            }else
            {
               // @Html.Label("PlaceId","Выберите место")
               // <select id="placeSelectList">
               // </select>
            }
        </div>
        <div>
            @Html.HiddenFor(x => x.CheckInUrl)
        </div>
        <div>
            @Html.HiddenFor(x=> x.Latitude)
            @Html.HiddenFor(x=> x.Longitude)
            @Html.TextAreaFor(x => x.Memo)
            <p>
                <input type="submit" @(!Model.Enabled ? "disabled=disabled" : "") class="ajax-submit awesome small" value="Отметится" />
            </p>
        </div>
    }
</div>