@using YouMap.Controllers
@model YouMap.Models.PlaceModel

<div data-id="@Model.Id" class="place-info-window">
    <div>
        <div class="place-logo">
            <img src="@(Model.Icon.Path.Replace("24x24","128x128"))"/>
        </div>
        <div class="info">
            <h2>@Model.Title</h2>
            <div class="place-actions">
                <ul>
                    <li><a class="colorbox" href="@Url.Action("CheckIn","Map",new {PlaceId = Model.Id})">Отметиться</a></li>
                    <li><a class="colorbox" href="@Url.Action("Create","Events",new {PlaceId = Model.Id})">Создать встречу</a></li>
                    <li><div id="vk_like_place_@(Model.Id)" class="share-container"></div></li>
                </ul>
            </div>
        </div>
</div>
    <div class="place-content">
        
        <p>@Html.Raw(Model.Description)
@* @Html.ActionLink("Подробнее","PlaceInfo",new{id = Model.Id})*@
        </p>
        
    </div>
</div>