@model YouMap.Models.UserViewModel
           
@if(Model.IsAuthenticated) {
    <text>
        @if (Model.DisplayAdmin)
        {
            <span>[
            @Html.ActionLink("Панель Управления", "ControlPanel", "Map") 
            ]</span>
            }
            Welcome <strong>@Model.DisplayName</strong>!
        [ @Html.ActionLink("Выйти", "LogOff", "Account") ]
    </text>
}
else {
<a id="vkLogin" href="#">Войти через "Вконтакте"</a>
	@:[ @Html.ActionLink("Войти", "LogOn", "Account") ]
	
}

<script>
	YouMap.Auth.Initialize('@Request.IsAuthenticated' == true);
</script>