@using System.Web.Mvc.Html
@using YouMap.Models
@model AddPlaceModel
@using (Html.BeginForm())
{
    
    <script>
    $(document).ready(function () {
        YouMap.AddPlace.Initialize();
    });
    </script>
    @Html.ValidationSummary("", new { id = "validation-summary-errors" })
    <div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(x => x.CategoryId, "Категория")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(x => x.CategoryId,Model.Categories)
                @Html.ValidationMessageFor(x => x.CategoryId)
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.Address, "Адрес")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.Address)
                @Html.ValidationMessageFor(x => x.Address)<a id='search' href="#">&emsp;</a>
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Title, "Название")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Title)
                @Html.ValidationMessageFor(m => m.Title)
                @Html.HiddenFor(x => x.Latitude)
                @Html.HiddenFor(x => x.Longitude)
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.Description, "Описание")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(x => x.Description)
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.WorkDays, "Дни работы")
            </div>
            <div class="editor-field">
                @foreach(var day in Model.DaysOfWeek)
                {
                    <span><label><input @(day.Selected? "checked" : String.Empty) class="left" type="checkbox" name="WorkDays" value="@day.Value"/>@day.Text</label></span>
                } 
                 <div class="clear"></div>
                @Html.ValidationMessageFor(m => m.DaysOfWeek)
            </div>

            <p>
                <input class="ajax-submit awesome small" type="submit" value="Добавить" />
            </p>
        </fieldset>
    </div> 
}
