@model YouMap.Models.AddCategoryModel

@using (Html.BeginForm())
{
	<fieldset>
	@Html.HiddenFor(x=> x.Id)
		<div class="editor-label">
				@Html.LabelFor(m => m.Name)
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.Name)
				@Html.ValidationMessageFor(m => m.Name)
			</div>
			<div class="editor-label">
				@Html.LabelFor(m => m.Icon)
			</div>
			<div class="editor-field">
				@Html.Telerik().Upload().Name("Icon")
				@Html.ValidationMessageFor(m => m.Icon)
			</div>
			<div class="editor-label">
				@Html.LabelFor(m => m.IsTop)
			</div>
			<div class="editor-field">
				@Html.CheckBoxFor(x=> x.IsTop)
				@Html.ValidationMessageFor(m => m.IsTop)
			</div>
			<input class="ajax-submit" type="submit" />
	</fieldset>
}