@model System.Collections.Generic.IEnumerable<YouMap.Areas.Mobile.Controllers.FriendModel>


@*<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {

            <tr>
                <td><img src=""/></td>
                <td>@item.Name</td>
                <td>@item.LastCheckInTimeAgo</td>
                <td>@item.LastCheckInMessage</td>
            </tr>
        }
    </tbody>
</table>*@

<ul id="friendsList" class="thumbnails">
     @foreach(var item in Model)
     {
         <li class="span3">
             <div class="thumbnail">
                 <img data-vkid="@item.VkId" src="" alt="@item.Name">
                 <div class="caption">
                     <h4>@item.Name</h4>
                     <h5>@item.LastCheckInTimeAgo</h5>
                     <p>@item.LastCheckInMessage</p>
                     <p><a href="@item.EventsLink" class="btn btn-primary">Встречи</a> <a href="@item.CheckInsLink" class="btn">Отметки</a></p>
                 </div>
             </div>
         </li>
     }
</ul>


<script>
    $(function() {
        YouMap.Vk.Map.LoadFriends('@String.Join(",",Model.Select(x=> x.VkId))', function(result) {
            for (var i = 0; i < result.length; i++) {
                $('#friendsList img[data-vkid="' + result[i].uid + '"]').attr("src", result[i].photo_big);
            }
        });
    });
</script>