
@using YouMap.Framework.Utils.Extensions
@model CheckInModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.Mobile.cshtml";
    ViewBag.Title = "Отметиться";
}
<script>
    $(document).ready(function () {
        YouMap.Vk.Panel.CheckInInit(@(Model.DisplayPlace.ToJS()));
    });
</script> 

<div id="checkin" class="checkin">
    @using (Html.BeginForm("CheckIn", "Home"))
    {
        <div id="placeHolder">
            @Html.HiddenFor(x => x.PlaceId)        
            @if (Model.Limited)
            {
                <h5 >У вас осталось @Model.LeftCount отметки здесь.</h5>
            }else
            {

            //     @Html.Label("PlaceId","Места поблизости")
            //    <select id=
             //   "placeSelectList">
              //  </select>
            }
        </div>
        <div>
            @Html.HiddenFor(x => x.CheckInUrl)
        </div>
       
        <div>
            <label for="shareBox"><input id="shareBox" type="checkbox"  checked="checked" value="True" name="Share"/>Рассказать друзьям?</label>
            @Html.HiddenFor(x => x.Latitude)
            @Html.HiddenFor(x => x.Longitude)
            @Html.Hidden("RedirectUrl",Model.PlaceId.HasValue()? Url.Action("Details","Places",new{id=Model.PlaceId}) : Url.Action("Main"))

            @Html.TextAreaFor(x => x.Memo)
            <p>
                <input type="submit" value="Отметится" />
            </p>

	
        </div>
    }
</div>