

@{
    ViewBag.Title = "YOUMAP";
    var need = true;
}

@section Header
{
    <h1>@ViewBag.Title</h1>
    @Html.Action("LoginState","Home")
}

        @if(need)
        {
            <script>
                $(function() {
                    YouMap.Geolocation.Locate(function(x, y) {
                        Request.get("/Vk/SubmitLocation").addParams({
                            x: x,
                            y: y
                        }).send();
                    });
                });                

            </script>
        }
<h2>@ViewBag.Message</h2>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Управление</li>
    <li>@Html.ActionLink("Отметиться", "CheckIn", "Home")</li>
    <li>@Html.ActionLink("Встречи", "Index", "Events" , new{hoursAgo = 1},new{})</li>
    <li>@Html.ActionLink("Друзья", "Index", "Friends" )</li>
    <li>@Html.ActionLink("Места", "Index", "Places")</li>
    <li>@Html.ActionLink("Настройки", "Settings", "Home")</li>
    <li>@Html.ActionLink("Карта", "Index", "Home")</li>
</ul>