<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    
    @Html.Partial("Styles")
    @Html.Partial("Scripts")
    @RenderSection("head",false)
</head>
    <body>
        <div class="page">
            <header>             
                <nav>
                    <ul id="menu">
                        <li class="left">
                            <a href="@Url.Action("Friends","Users")">Друзья</a>
                            <a href="@Url.Action("Index","Events")">События</a>
                            <a href="@Url.Action("Index","Places")">Места</a>
                        </li>
                        @Html.Action("Navigation", "Categories")
                    </ul>
                </nav>
                <div id="title">
                    <a href="/"><h1>YOUMAP</h1></a>
                    @*@Html.Partial("AjaxLoader")*@
                </div>
                <div id="topBar">
                    @Html.Partial("TopBar")
                </div>
            </header>
            <section id="main">
                @RenderBody()
            </section>
        </div>
    </body>
</html>
