<!DOCTYPE html>
<html>
    <head>
        @{
            ViewBag.Title = "YouMap " + ViewBag.Title;
        }
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
    
        @Html.Partial("Styles")
        @Html.Partial("Scripts")
        @RenderSection("head",false)
    </head>
    <body>
        <div class="page">
            <header>             
                <nav>
                    <ul id="menu">
                        <li class="left">
                            <a class="simple-btn friends" href="@Url.Action("Friends","Users")">Друзья</a>
                            <a class="simple-btn events" href="@Url.Action("Index","Events")">События</a>
                            <a class="simple-btn places" href="@Url.Action("List","Places")">Места</a>
                            <a class="simple-btn places" href="@Url.Action("Index","Feeds")">Фиды</a>
                        </li>
                        @Html.Action("Navigation", "Categories")
                    </ul>
                </nav>
                <div id="title">
                    <a href="/"><h1>YOUMAP</h1></a>
                    @*@Html.Partial("AjaxLoader")*@
                </div>
                <div id="topBar">
                    @Html.Partial("TopBar")
                </div>
            </header>
            <section id="main">
                @RenderBody()
            </section>
        </div>
    @RenderSection("joyride",false)
    </body>
</html>
