@using System.Web.Mvc
@model YouMap.Controllers.EventsFilter
           
@section head
{
    <link href="@Url.Content("~/Content/bootstrap-forms.css")" rel="stylesheet" type="text/css" />
}
@using (Html.BeginForm(null, null, FormMethod.Get,new{@class="filter-form"}))
{
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(x => x.HoursAgo, "Спустя")
            @Html.TextBoxFor(x => x.HoursAgo)
            <span>часов</span>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.HoursNext, "Через")
            @Html.TextBoxFor(x => x.HoursNext)
            <span>часов</span>
        </div>
        @Html.HiddenFor(x => x.PagingInfo.CurrentPage)
        @Html.HiddenFor(x => x.PagingInfo.ItemsPerPage)
        <input type="submit" value="Искать" />
    </fieldset>
}
