@using System.Web.Mvc
@model YouMap.Controllers.EventsFilter
           

    <link href="@Url.Content("~/Content/bootstrap-forms.css")" rel="stylesheet" type="text/css" />

@using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "filter-form form-horizontal well" }))
{
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(x => x.HoursAgo, "Спустя")
            @Html.TextBoxFor(x => x.HoursAgo)
            <span class="help-inline">часов</span>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.HoursNext, "Через")
            @Html.TextBoxFor(x => x.HoursNext)
            <span class="help-inline">часов</span>
        </div>
        @Html.HiddenFor(x => x.PagingInfo.CurrentPage)
        @Html.HiddenFor(x => x.PagingInfo.ItemsPerPage)
        <input type="submit" value="Искать" />
    </fieldset>
}
